<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Nicolas Coudenne{% endblock %}</title>
    </head>
    <body>
        <div class="container-fluid wrapper py-4">
            {% block body %}
            {% endblock %}
        </div>
        <script src="build/cv.bundle.js"></script>
    </body>
</html>